<div class="m-auto">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item <%= 1 == pagination.currentPage ? "disabled" : "" %>"><a class="page-link" href="<%= pagination?.path + "&page=" + (pagination.currentPage -1) %>">Previous</a></li>
        <% Array.from({length: pagination?.totalPage}, (e,i)=> i+1).forEach( i => { %>
          <% if(i < pagination.currentPage + 5 && i > pagination.currentPage - 5){ %>
            <li class="page-item <%= i == pagination.currentPage ? "active" : "" %> "><a class="page-link" href="<%= pagination?.path + "&page=" + i %>"><%= i %></a></li>
          <% }%>
        <% }) %>
        <li class="page-item <%= pagination?.totalPage == parseInt(pagination.currentPage) ? "disabled" : "" %>"><a class="page-link"  href="<%= pagination?.path + "&page=" + (parseInt(pagination.currentPage) +1) %>">Next</a></li>
      </ul>
    </nav>
  </div>